{
	"DestinationName": "ZBODEGA_AGO_SRV",
	"OfflineEnabled": true,
	"LanguageURLParam": "",
	"OnlineOptions": {},
	"OfflineOptions": {
		"StoreParameters": {}
	},
	"PathSuffix": "",
	"SourceType": "Mobile",
	"ServiceUrl": "",
	"RestService": true
}